body {
    display:flex;
}
.ring {
    height: 120px;
    width: 120px;
    
    border-radius:50%;
    margin-left:5px;
    margin-right:5px;
}
#gul {
    border: 6px solid #f4c300;
    position: relative;
    left: 213px;
    top:60px;
}
#rød {
    border: 6px solid #df0024;
    position: relative;
    left:284px;
}
#sort {
    border: 6px solid #000000;
    position: relative;
}
#blå {
    border: 6px solid #0085C7;
    position: relative;
    right:284px;
}
#grønn {
    border: 6px solid #009f3d;
    position: relative;
    top:60px;
    right: 213px;
}