html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#delf_one {
    height: 100%;
}

#t1,
#t2,
#b1,
#b2 {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: aqua;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#t1 {
    top: 0;
    left: 0;
    background-image: url(https://titan.uio.no/sites/default/files/styles/social_large/public/import//colourbox21973538.jpg?itok=_hWY6Qor);
}

#t2 {
    top: 0;
    left: 50%;
    background-image: url(https://media.snl.no/media/162257/standard_compressed_shutterstock_1348228064.jpg);
}

#b1 {
    top: 50%;
    left: 0;
    background-image: url(https://titan.uio.no/sites/default/files/import/colourbox9562437.jpg);
}

#b2 {
    top: 50%;
    left: 50%;
    background-image: url(https://www.dagbladet.no/images/62762889.jpg?imageId=62762889&panow=100&panoh=43.946188340807&panox=0&panoy=8.5201793721973&heightw=0&heighth=0&heightx=0&heighty=0&width=1200&height=675);
}

#delfin_link {
    position: relative;
    width: fit-content;
    border: 1px solid black;
    background-color: aqua;
    left: 44%;
    top: 45%;
    text-align: center;
}

a {
    padding: 10px;
    text-decoration: none;
}

h2 {
    padding: 10px;
}


#delf_two {
    height: 100%;
    background-color: aqua;
}

#info {
    text-align: center;
    width: 40%;
    border: 1px solid black;
    position: relative;
    top: 20%;
    left: 30%;
    background-color: #f1f1f1;
}

#merinfo {
    text-align: center;
    width: 20%;
    border: 1px solid black;
    position: relative;
    top: 30%;
    left: 40%;
    background-color: #f1f1f1;
}

#delf_three {
    height: 60%;
    background-color: aqua;
}

table {
    width: 28%;
    font-size: larger;
    position: relative;
    top: 30%;
    left: 36%;
}


td {
    background-color: #eeeeee;
}

td,
th {
    border: 1px solid black;
}